# OS X
.DS_Store

# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.noindex

# Files to keep
!*.xcodeproj/
!*.xcworkspace/
!*.code-workspace

# Claude
.claude
CLAUDE.md

# tmp
tmp/
